@use '../global/global' as g;

.mv {
    h1 {
        color: g.$color-red;
        // font-size: g.get_vw(128);
        // font-size: g.get_per(128, 1040);
        @include g.fluid-type(font-size, 30px, 84px);
        margin: g.strip_lh_fluid(14, 7px, 17px, 1.5, 201) 0 0;

        z-index: map-get(g.$z, header);
        @include g.mq(mobile) {
            font-size: g.get_vw(128);
        }
    }

    &__links {
        position: absolute;
        bottom: g.get_vw(130);
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        z-index: map-get(g.$z, 'link');
        @include g.mq(mobile) {
            top: auto;
            bottom: g.get_vw(170);
        }
    }
    &__link {
        position: relative;
        display: inline-block;
        color: g.$color-black;
        font-family: g.$font-en;
        font-size: g.get_vw(30);
        margin: 0 g.get_vw(10) 0 0;
        transition: g.$easeCustom1 0.6s;
        text-decoration: none;
        @include g.mq(mobile) {
            font-size: g.get_vw(50);
            margin: 0 g.get_vw(25) 0 0;
        }
        &::after {
            content: attr(data-hover);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: rotateX(90deg);
            transition: g.$easeCustom1 0.3s;
            opacity: 0;
            color: g.$color-blue;
            height: 0;
        }
        &:hover {
            color: transparent;

            &::after {
                transform: rotateX(0deg);
                top: 0;
                opacity: 1;
                height: 100%;
            }
        }
        &:visited {
            text-decoration: none;
        }
    }
}
